<html>
    <head>
        <link href="/assets/style.css" type=text/css rel="stylesheet">
    </head>
    <body>
        <h1>Hello World @ <%= ID %><h1>
            <h2>Query string:  <%= Qstr %></h2>
     </body>
</html>
